name: Pull Request Workflow

on:
  pull_request:
    types:
      - opened
      - synchronize
    paths-ignore:
      - "*.md"
  push:
    branches:
      - feats/workflows/pull

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: "latest"

      - name: Install dependencies
        run: bun install

      - name: Build typescript files
        run: bun tsbuild
        
